* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.input-link {
    width: 90vw;
    height: 8vh;
    margin: 20px auto 20px auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

#inp-img-link {
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 3px;
    margin: auto 50px auto 60px;
    border-bottom: 1px solid #0A164E;
    width: 65vw;
    color: #0A164E;
}

#btn {
    outline: none;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-image: linear-gradient(to left, #0A164E, #F5D040);
    width: 12vw;
    height: 5vh;
    margin-left: 20px;
    margin-bottom: 6px;
    text-transform: capitalize;
    transition: 0.3s ease;
}

#btn:hover {
    opacity: 0.80;
}

#btn:active {
    transform: scale(0.85);
}
#init-text2 > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
}

#img-container {
    width: 90vw;
    height: 80vh;
    margin: 15px auto auto auto;
    background-color: #fff;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#img-to-drag {
    width: 250px;
    height: 250px;
    cursor: pointer;
    object-fit: cover;
    transition: width 250ms ease, height 250ms ease;
}

#img-to-drag:hover {
    width: 220px;
    height: 220px;
}

#img-to-drag:active{
    width: 180px;
    height: 180px;
}